body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.App {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

select {
  appearance: none;
  cursor: pointer;
}

TipMessage {
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.TipMessage {
  margin-top: 20px;
  padding: 15px;
  background-color: #834eaf;
  color: #fff;
  border-radius: 4px;
  text-align: center;
}

.TipMessage h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
